<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <th:block th:replace="base::head"></th:block>

</head>
<body>
    <th:block th:replace="base::nav"></th:block>

    <div class="container">

        <div>
            <h1>Securex</h1>
            <p>Use this document as a way to quickly start any new project.<br /> All you get is this text and a mostly barebones HTML document.</p>
        </div>

    </div><!-- /.container -->
   <th:block th:replace="base::footlinks"></th:block>
</body>
</html>