<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base::head"></th:block>

</head>
<body>
    <th:block th:replace="base::nav"></th:block>

    <div class="container">

        <div>
            <h1>Securex</h1>

            <h2>Insecure Page</h2>
            <a href="/secure">Secure Page</a>
            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users.
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                This content is only shown to administrators
            </div>
            <div sec:authorize="hasAuthority('USER')">
                This content is only shown to users
            </div>

        </div>

    </div><!-- /.container -->
    <th:block th:replace="base::footlinks"></th:block>
</body>
</html>